body{


    background-attachment: fixed;
    background-image: url('fondoCubos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity{
    opacity: 0.9;
}


.btn-i{
    border: none;
    background-color: none;
}

.fa-heart{
    font-size: 70px;
}

.ft-sz{
    font-size: 25px;
}

.ft-hd{
    font-size: 25px;
}

.txt-btn{
    font-size: 20px;
}

.btn-p{
    padding: 10px 20px;
    width: 40%;
    border-radius: 8px;
}
.fot{
    padding: 1px;
}