body{
    margin: 0 ;
    background-image: url("./img/fondoCubos\ -\ copia.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {

    margin: 3px 5px 3px 10px;
    float: left;
    border: 2px solid;
    border-radius: 25px;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;

  }
  
  li a:hover:not(.active) {
      border-radius: 25px;
    background-color: rgb(175, 174, 174);
  }

  .nav{
      background-color: rgb(49, 51, 50);
      color: white;
      border-radius: 25px;
  }

main{
    width: 100%;

    display: flex;
    flex-direction: row;
}

section{
    width: 50%;
    height: 100vh;
}

.sec1  table {
    margin: 150px 0 0 100px ;
}

.sec2 table{
    margin: 200px 0 0 200px ;
}
th{
    color: white;
    size: 100px;
}

  #logo{
    display: block;
    justify-content: center;
    margin: 30px auto 0px auto;
    
    }
    .logoempresa{
    margin : auto auto auto auto;
    margin-top: 6px;
    margin-bottom: 25px;
    margin-right: 10px;
    }
    #TOWER{
        margin: auto auto auto auto;
        margin-left: 30px;
        margin-top: 20px;
        font-size: 30px;
    }
    .Jug{
        
        border-radius: 4px;
        padding: 15px 40px;
        background: #9098a0;
        color: white;
        width: 20%;
        border-radius: 10px;
        font-size: 10px;
        box-shadow: 0 8px 16px 0 rgba(165, 46, 46, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin: auto auto auto auto;
        margin-left: 14px;
        margin-bottom: 170px;
    
    }
    
    footer{
    
        background-color: lightgray;
        bottom: 0;
        width: 100%;
        height: 70px;
        position: fixed;
    
    
    }
    
#contactame{
    width: 600px;
    margin-left: 470px;
}
 
