//INICIO parte de la ventana juego

//INICIO parte del header
.puntuacion{
   
    //padding-top: 5vh;
    padding-bottom: 1vh;
    display: flex;
    align-items: center;
    h2{
        font-size: 1.6vw;
        font-family: 'Staatliches', cursive;
    }
 }
 
 .puntuacion2{
     padding-left: 38vw;
     display: flex;
     align-items: center;
 }
 
 #hora{
    font-size: 1.5vw;
    padding-left: 1em;
 }
 
 #minuto{
   font-size: 1.5vw;
 }
 
 #segundo{
   font-size: 1.5vw;
 }
 
 .puntuacion3{
     display: flex;
 }
 
 .cronomet{
   font-size: 1.7vw;
   padding-left: 20px;
 }
 
 //FINAL parte del header
 
 //FINAL parte de la ventana juego