body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  //mixin
  
  //@import "layout/mixin";
  
  //base
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Staatliches&display=swap');
  @import "../src/SASS/base/reset";
  @import "../src/SASS/base/page.scss";
  
  //components
  //@import "layout//buttoms";
  //@import "layout//iconos";
  //@import "layout//words";
  @import "../src/SASS/layout/tab";
  @import "../src/SASS/layout/pagehome.scss";
  @import "../src/SASS/layout/pageSalas.scss";
  @import "../src/SASS/layout/pagefondos.scss";
  @import "../src/SASS/layout/pageEstadisticaUso.scss";
  @import "../src/SASS/layout/pageAñadirpersonal.scss";
  @import "../src/SASS/layout/ConfiguracionSala.scss";
  @import "../src/SASS/layout/ConfiguracionPacks.scss";
  @import "../src/SASS/layout/footer.scss";
  @import "../../proyecto-n/src/SASS/layout/footer";
  //@import "layout//formularios";
  //@import "layout//gallery";
  
  //layout
  //@import "layout/header";
  @import "../../proyecto-n/src/SASS/layout/header";