.font{
    font-size: 18px;
}

body{
    background-attachment: fixed;
    background-image: url('fondoCubos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.div-c{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.div-cs{
    height: 350px;
    width: 400px;
    border-radius: 10px ;
}

.mg-l{
    margin-left: 100px;
}

.mg-sl{
    margin-left: 100px;
}

.mg-r{
    margin-right: 400px;
}
.mg-t{
    margin-top: 80px;
}

.mg-b{
    margin-bottom: 100px;
}

.size{
    padding: 8px 14px;
}

.opacity{
    opacity: 0.95;
}

.input{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    
}

.btn-my{
    padding: 10px 18px;
    width: 40%;
    border-radius: 6px;
    
}



@media only screen and(max-width: 400px){
    
}